<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shake Login.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B93344F61CDA46B400CB5F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B933450A1CDA46B400CB5F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B93345151CDA46B500CB5F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
